$background: #FBFFFE;
$menu: $background;
$text: #090809;
$highlight: #F40000;

// General layout
html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: $background;
}

aside, main {
    display: flex;
    flex-direction: column;
}

aside {
    min-width: 15%;
    background-color: $menu;
}

main {
    overflow-y: scroll;
}

// Menu

aside {
    padding: 1em;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;

    ul {
        padding-inline-start: 1em;
    }

    a {
        text-decoration: none;
        color: $text;
        background-image: linear-gradient($highlight, $highlight);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;

        &:hover, &:focus {
            background-size: 100% 2px;
        }
    }

    .menu-item-selected {
        a {
            background-size: 100% 2px;
        }
    }

    .dropdown {
        .dropdown-content {
            display: none;

        }
        &:hover .dropdown-content {
            display: block;
        }
    }
}


// Photos tiles
.photos {
    line-height: 0;
    
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;  

    img {
        width: 100% !important;
        height: auto !important;
    }
}

// Smaller screens
@media (max-width: 1024px) {
    .photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}

// Mobile
@media (max-width: 480px) {
    body {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        overflow-y: unset;
    }

    .photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
