<aside>
    <ul class="menu">
        {{- $currentPage := . -}}

        <!-- list of meny entries -->
        {{- range .Site.Menus.main -}}
        {{- $isSelected := eq .URL $currentPage.RelPermalink -}}
        <li class="menu-item {{ if $isSelected }}menu-item-selected{{ end }}">
                <a href="{{- .URL -}}">
                    <span>{{- i18n .Identifier -}}</span>
                </a>
            </li>
        {{- end -}}

        <!-- expandable list of projects -->
        {{- $isProject := eq .Type "projects" }}
        <li class="{{ if not $isProject }}dropdown{{ end }}">
            <span>{{- i18n "menu_projects" -}}</span>
            <ul class="menu {{ if not $isProject }}dropdown-content{{ end }}">
                {{- range where .Site.RegularPages "Section" "projects" -}}
                {{- $isSelected := eq .RelPermalink $currentPage.RelPermalink -}}
                <li class="menu-item {{ if $isSelected }}menu-item-selected{{ end }}">
                    <a href="{{- .RelPermalink -}}">
                        <span>{{- .Title -}}</span>
                    </a>
                </li>
                {{- end -}}
            </ul>
        </li>
    </ul>
</aside>
