<aside>
    <ul>
        {{- $currentPage := . -}}

        <!-- list of meny entries -->
        {{- range .Site.Menus.main -}}
        <li class="{{ if eq .URL $currentPage.RelPermalink }}current{{ end }}">
                <a href="{{- .URL -}}">
                    <span>{{- i18n .Identifier -}}</span>
                </a>
            </li>
        {{- end -}}

        <!-- expandable list of projects -->
        {{- $isProject := eq .Type "projects" }}
        <li class="{{ if not $isProject }}dropdown{{ end }}">
            Projects
            <ul class="{{ if not $isProject }}dropdown-content{{ end }}">
                {{- range where .Site.RegularPages "Section" "projects" -}}
                <li class="{{ if eq .RelPermalink $currentPage.RelPermalink }}current{{ end }}">
                    <a href="{{- .RelPermalink -}}">
                        <span>{{- .Title -}}</span>
                    </a>
                </li>
                {{- end -}}
            </ul>
        </li>
    </ul>
</aside>
