<aside>
    <ul>

        <!-- list of meny entries -->
        {{- range .Site.Menus.main -}}
            <li>
                <a href="{{- .URL -}}">
                    <span>{{- i18n .Identifier -}}</span>
                </a>
            </li>
        {{- end -}}

        <!-- expandable list of projects -->
        <li class="dropdown">
            Projects
            <ul class="dropdown-content">
                {{- range where .Site.RegularPages "Section" "projects" -}}
                <li>
                    <a href="{{- .RelPermalink -}}">
                        <span>{{- .Title -}}</span>
                    </a>
                </li>
                {{- end -}}
            </ul>
        </li>
    </ul>
</aside>
